<div class="text-center">
{% include 'form/form-open.twig.html' with { 'class' : 'ajax-form', 'action' : base_url ~ 'login', 'method' : 'POST'} %}

{% for input in inputs %}
    {% include 'form/input.twig.html' with { 'input' : input} %}
{% endfor %}

{% include 'form/input.twig.html' with {'input' : {'type' : 'submit', 'value' : 'Prijava', 'class' : 'btn primary expand'}} %}
<a id="forgotten-password" href="{{base_url}}reset">Zaboravljena lozinka</a>
<div>
    <img class="fa-spin loader" src="{{base_url}}assets/img/preloader.png"></h1>
</div>
{% include 'form/form-close.twig.html' %}
</div>