{% extends "skeleton/base.twig.html" %}
{% block body %}
<div class="row">
    <h1 class="text-center">{{ message | default("GREŠKA") | raw}}</h1>
    <p class="text-center {{ class }}">
        {{ error | raw }}
    </p>
</div>
{% endblock %}