{% extends "skeleton/base.twig.html" %}
{% set title = 'ePrekršaji' %}


    {% block body %}
<div class="row">
    <div class="column-4">
        <h2>Županije</h2>

        <div id="counties" class="scroll-box">
            <ul class="no-bullet">
                <li>
                    <a>
                        <b><i class="fa fa-spin fa-spinner"></i> Učitavanje</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="column-4">
        <h2>Policijske postaje</h2>

        <div id="stations" class="scroll-box">
            <ul class="no-bullet">
                <li>
                    <a>
                        <b>Izaberite županiju</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="column-4">
        <h2>Djelatnici</h2>

        <div id="officers" class="scroll-box">
            <ul class="no-bullet">
                <li>
                    <a>
                        <b>Izaberite postaju</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>

{% endblock %}

{% block footer_scripts %}
{{ parent() }}

<script>

    $(function () {

        $("body").on("click", ".scroll-box a[data-id]", function(){
            $(this).parents("ul").find("a.selected").removeClass("selected");
            $(this).toggleClass("selected");

        });

        $.ajax({
            url: "{{base_url}}api/counties",
            dataType: "JSON",
            type: "GET"
        }).done(function (data) {
                    var inner_list = $('<ul/>', {class: "no-bullet" });

                    $.each(data, function (key, value) {
                        var li = $('<li/>');
                        var a = $('<a/>', {text: value.name }).attr("data-id", value.county_id);
                        li.append(a);
                        inner_list.append(li);
                    });

                    $("#counties").html("").append(inner_list);
                    console.log(data);
                });



        $("body").on("click", "#counties a[data-id]", function(){
            scrollBoxLoading($("#stations"));
            scrollBoxLoading($("#officers"));
            $("#officers > ul > li > a").html("<b>Izaberite postaju</b>");
            var id = $(this).attr("data-id");

            $.ajax({
                url: "{{base_url}}api/stationsByCounty/"+id,
                dataType: "JSON",
                type: "GET"
            }).done(function (data) {
                        if(data.length < 1){
                            $("#stations > ul > li > a").html("<b>Nema podataka</b>");
                            return;
                        }

                        var inner_list = $('<ul/>', {class: "no-bullet" });

                        $.each(data, function (key, value) {
                            var li = $('<li/>');
                            var a = $('<a/>', {text: value.name }).attr("data-id", value.police_station_id);
                            li.append(a);
                            inner_list.append(li);
                        });

                        $("#stations").html("").append(inner_list);
                        console.log(data);
                    });

        })

        $("body").on("click", "#stations a[data-id]", function(){
            scrollBoxLoading($("#officers"));
            var id = $(this).attr("data-id");

            $.ajax({
                url: "{{base_url}}api/officersByStation/"+id,
                dataType: "JSON",
                type: "GET"
            }).done(function (data) {
                        if(data.length < 1){
                            $("#officers > ul > li > a").html("<b>Nema podataka</b>");
                            return;
                        }


                        var inner_list = $('<ul/>', {class: "no-bullet" });

                        $.each(data, function (key, value) {
                            var li = $('<li/>');
                            var label = value.first_name + " " + value.last_name;

                            var a = $('<a/>', {text: label }).attr({
                                "data-id" : value.police_officer_id,
                                "data-ajax-modal" : "true",
                                "data-ajax-url" : "{{base_url}}api/officer/"+value.police_officer_id
                            });
                            li.append(a);
                            inner_list.append(li);
                        });

                        $("#officers").html("").append(inner_list);
                        console.log(data);
                    });

        })


    })

</script>


{% endblock %}
