{% extends "skeleton/popup.twig.html" %}

{% block body %}
<div class="center">

{% if status == "start" %}
    <form action="" method="post" enctype="multipart/form-data">
        <label for="file">Datoteka:</label>
        <input type="file" name="file" id="file"><br>
        <input type="hidden" value="{{ " now" | date('U') }}" name="form_timestamp">
        <br>
        <input type="submit" name="submit" value="Upload">
    </form>
    {% elseif status == "finished" %}
    <p>Prijenos uspjesan</p>

    {% block footer_scripts %}
    {{parent()}}
    {% endblock %}

    <script>
        var listItem = '<li class="new-file" data-file="{{filename}}"><a href="{{base_url ~ path}}" target="_blank"><i class="fa fa-file"></i> {{filename}} </a>';
        listItem = listItem + '<a href="javascript:void(0);" data-delete-file="{{filename}}" class="file-delete"><i class="fa fa-times"></i></a></li>';
        addToParent("#list-files", listItem);
        self.close()
    </script>
    {% endif %}
</div>
    {% endblock %}

