<div class="text-center row">
{% include 'form/form-open.twig.html' with { 'class' : 'ajax-form', 'action' : 'register', 'method' : 'POST'} %}

{% for input in inputs %}
    <div class="column-12 center">
    {% include 'form/input.twig.html' with { 'input' : input} %}
    </div>
{% endfor %}

{% include 'form/input.twig.html' with {'input' : {'type' : 'submit', 'value' : 'Registracija', 'class' : 'btn primary expand'}} %}
<div>
    <img class="fa-spin loader" src="{{base_url}}assets/img/preloader.png"></h1>
</div>
{% include 'form/form-close.twig.html' %}
</div>