{% extends "skeleton/base.twig.html" %}
{% set title = 'ePrekršaji' %}


{% block body %}
<div class="row">
    <div class="column-4 hide-for-print text-center">
        <ul class="no-bullet">
            <li>
                <a id="get-time" class="text-center big-icon" href="{{base_url}}time/get">
                    <i class="fa fa-1x fa-clock-o"></i> <br />
                    Preuzmi virtualno vrijeme
                </a>
            </li>
            <li>
                <a id="set-time" class="text-center big-icon" href="{{base_url}}time/activate">
                    <i class="fa fa-1x fa-wrench"></i> <br />
                    Postavi virtualno vrijeme
                </a>
            </li>
            <li>
                <a id="send-mass-email" class="text-center big-icon" href="{{base_url}}time/activate">
                    <i class="fa fa-1x fa-envelope"></i> <br />
                    Pošalji masovni email
                </a>
            </li>
        </ul>
    </div>
    <div class="column-4 text-center">
        <p class="white"><b>Prekršaji</b><br />Koji odlaze u zastaru unutar 24h</small></p>
        <a href="#" onclick="window.print()"><i class="fa fa-print"></i> Ispis</a>

        <div id="" class="scroll-box">
            <ul id="ending-today" class="no-bullet">
                <li>
                    <a>
                        <b><i class="fa fa-spin fa-spinner"></i> Učitavanje</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="column-4 text-center">
        <p class="white"><b>Prekršaji</b><br />Koji odlaze u zastaru u budućnosti</small></p>
        <a href="#" onclick="window.print()"><i class="fa fa-print"></i> Ispis</a>
        <div id="" class="scroll-box">
            <ul id="ending-future" class="no-bullet">
                <li>
                    <a>
                        <b><i class="fa fa-spin fa-spinner"></i> Učitavanje</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_scripts %}
{{ parent() }}

<script>

    $("#get-time").on("click", function (e) {
        e.preventDefault();
        var url = $(this).attr("href");
        $.get(url, function (data) {
            if (data == 1) {
                alert("Vrijeme uspješno preuzeto");
            }
        });
    })

    $("#set-time").on("click", function (e) {
        e.preventDefault();
        var url = $(this).attr("href");
        $.get(url, function (data) {
            if (data == 1) {
                alert("Vrijeme uspješno postavljeno");
            }
        });
    })

    $(function () {
        $.get(base_url + 'api/violations/ending-today', function (data) {
            try {
                $("#ending-today").html("");
                $.each(data, function (key, value) {
                    var li = $('<li/>');

                    var string = '<b>' + value.user + '</b><br/>' + value.category + '<br/>' + value.created + " - " + value.ending;

                    var a = $('<a/>', {html: string }).attr({"data-id" : value.violation_id, "data-ajax-modal" : "true", "data-ajax-url" : base_url + "api/violation-details/" + value.violation_id });
                    a.append()
                    li.append(a);
                    $("#ending-today").append(li);
                });
            } catch (e) {
                console.log(e);
            }
        });

        $.get(base_url + 'api/violations/ending-future', function (data) {
            try {
                $("#ending-future").html("");
                $.each(data, function (key, value) {
                    var li = $('<li/>');

                    var string = '<b>' + value.user + '</b><br/>' + value.category + '<br/>' + value.created + " - " + value.ending;

                    var a = $('<a/>', {html: string }).attr({"data-id" : value.violation_id, "data-ajax-modal" : "true", "data-ajax-url" : base_url + "api/violation-details/" + value.violation_id });
                    a.append()
                    li.append(a);
                    $("#ending-future").append(li);
                });
            } catch (e) {
                console.log(e);
            }
        });


    })

</script>


{% endblock %}
