<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {{ css("assets/css/normalize.css") | raw }}
    {{ css("assets/css/jquery.datetimepicker.css") | raw }}
    {{ css("assets/css/font-awesome.css") | raw }}
    {{ css("assets/css/chosen.css") | raw }}
    {{ css("assets/css/zf.css") | raw }}
    {{ css("assets/css/print.css") | raw }}

    <!-- Add fancyBox main JS and CSS files -->
    <link rel="stylesheet" type="text/css" href="{{base_url}}assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />

    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="{{base_url}}assets/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" />

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="{{base_url}}assets/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />

    <!-- Add Media helper (this is optional) -->

    <script>
        base_url = "{{base_url}}"
    </script>


    {% endblock %}

</head>
<body class="">
<div id="black-overlay"></div>

{% block topbar %}
<div id="top-bar">
    <div class="row">
        <div class="column-3">
            <h1><a href="{{base_url}}">ePrekršaji</a>
            <img class="loader fa-spin" src="{{base_url}}assets/img/preloader.png" ></h1>
        </div>
        <div class="text-right column-9">

            <ul class="inline-list">
                {% if session.user is defined %}
                <li>
                    <a href="{{base_url}}logout">
                        <i class="fa fa-power-off"></i>
                        Odjava [{{ session.user.first_name ~  " " ~ session.user.last_name}}]
                    </a>
                </li>
                {% endif %}
                <li>
                    <i class="fa fa-clock-o"></i>
                    {{ time | date("d.m.Y. - H:i") }}
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="row">
        {% if menu is defined %}
        <div id="menu">
            {% include 'menu/' ~ menu ~ '.twig.html' %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

<div id="main-content">
{% block body %}

{% endblock %}
</div>

{% block footer_scripts %}
{{ js("assets/js/vendor/jquery.js") | raw }}
{{ js("assets/js/helpers.js") | raw }}
{{ js("assets/js/jquery.datetimepicker.js") | raw }}
{{ js("assets/js/chosen.jquery.min.js") | raw }}

<script type="text/javascript" src="{{base_url}}assets/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript" src="{{base_url}}assets/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{base_url}}assets/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="{{base_url}}assets/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>


<script>

    function initControls(){
        $(".fancybox").fancybox();

        $('.timepicker').datetimepicker({
            datepicker:false,
            format:'H:i'
        });

        $('.datepicker').datetimepicker({
            timepicker:false,
            format:'d.m.Y',
            dayOfWeekStart: 1
        });

        $('.datetimepicker').datetimepicker({
            format:'d.m.Y H:i',
            dayOfWeekStart: 1
        });

        $(".chosen-select").chosen();
    }

    $(function(){
        var offset = $("#top-bar").outerHeight();
        $("#main-content").css("padding-top", offset);
        initControls();
    });
</script>

{% endblock %}

{% block outermodal %}
<div class="modal open">
    <div class="modal-wrapper">
        <div class="clearfix" style="display:block">
            <a class="clearfix right" href="javascript:void(0);" data-close="modal"><i class="fa fa-times"></i></a>
        </div>
        <div class="modal-content">
            {% block modal %}
            Pokušajte ponovno
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>