{% extends "skeleton/base.twig.html" %}
{% block body %}
<div id="external-crud-form" style="display:none"></div>
<div class="row">
    <ul class="inline-list filters">
        <li>
            <div class="perPage">
                <select id="paginationPerPage">
                    <option disabled >Prikaza po stranici</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
        </li>
        {% if show_time_filters is defined %}
        <li>
            <input placeholder="Datum OD" id="datetime_start" type="text" class="datepicker" name="datetime_start">
        </li>
        <li>
            <input  placeholder="Datum DO" id="datetime_end" type="text" class="datepicker" name="datetime_end">
        </li>
        <li>
            <a id="timeFilterTrigger" href="javascript:void(0);"><i class="fa fa-calendar"></i> Filtriraj</a>
        </li>
        {% endif %}
        <li>
            {% if hideSearch is not defined %}
            <input id="crud-query" type="text" name="query" placeholder="Pretraga">
            {% endif %}
        </li>
        {% if filter_options is defined %}
        <li>
            <select id="filter_select">
            {% for option in filter_options %}
                <option value="{{ option.key }}">{{option.value}}</option>
            {% endfor %}
            </select>
        </li>
        {% endif %}
        {% if add_link is defined %}
        <li>
            <a href="{{ add_link }}" class="external-crud-form-trigger" ><i class="fa fa-plus"></i> DODAJ</a>
        </li>
        {% endif %}
        <li>
            <a href="#" onclick="window.print()"><i class="fa fa-print"></i> Ispis</a>
        </li>
    </ul>
</div>
<div class="row">
<div id="table-wrapper">

        <table class="table table-crud">
            <thead>
            <tr>
                {% for key, th in headers %}
                <th>
                    <a class="sort-link" data-sort-direction="{{th.sort}}" data-sort-key="{{key}}" href="javascript:void(0);">
                    {{ th.label }}
                       <i class="fa fa-sort-alpha-{{th.currentSort | lower}}"></i>
                    </a>
                </th>
                {% endfor %}

                {% if icons is defined %}
                <th>Akcije</th>
                {% endif %}

            </tr>
            </thead>
            {% for tr in data %}
            <tr>
                {% for td in tr %}
                <td>
                    {{ td | raw }}
                </td>
                {% endfor %}

                {% if icons is defined %}
                <td>
                    {% for icon, link in icons %}
                    <a href="{{base_url}}{{ link }}{{attribute(tr, key) }}"
                        class="
                    {%- if icon == "fa-edit" or icon == "fa-users" or icon == "fa-search" -%}
                        external-crud-form-trigger
                    {%- endif -%}
                    ">
                        <i class="fa {{ icon }}"></i>
                    </a>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

    {% if pagination is defined %}
    {% include "includes/pagination.twig.html" %}
    {% endif %}
    </div>

</div>
{% endblock %}