<dl>
    {% for attr in data %}
    <dt>{{attr.label}}</dt>
    <dd>{{attr.value}}</dd>
    {% endfor %}


    {% if files %}
        {% include 'form/file.twig.html' with { 'files' : files} %}
    {% endif %}

    {% if images %}
        {% include 'form/gallery.twig.html' with { 'images' : images} %}
    {% endif %}
</dl>