{% extends "skeleton/base.twig.html" %}
{% block body %}
<div class="row">
    <h1 class="text-center">{{ label | default("Poruka") | raw}}</h1>
    <p class="text-center {{ class }}">
        {{ message | raw }}
    </p>
</div>
{% endblock %}