<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {{ css("assets/css/normalize.css") | raw }}
    {{ css("assets/css/zf.css") | raw }}
    <script>
        base_url = "{{base_url}}"
    </script>

    {% endblock %}
</head>
<body class="">

{% block body %}
Greška!
{% endblock %}

{% block footer_scripts %}
{{ js("assets/js/vendor/jquery.js") | raw }}

<script>
function addToParent(selector,content){
    $(selector,opener.document).append(content);
}
</script>

{% endblock %}
</body>
</html>