<div class="scroll-box">
    <ul class="no-bullet">
        {% for k,item in items.data %}
        <li class="{{item.class}} text-center">
            <a data-ajax-modal="true" data-ajax-url="{{items.base ~ k}}">
                <dl class="inline clearfix">
                    {% for attr in item %}
                    <dt>{{attr.label}}</dt>
                    <dd>{{attr.value}}</dd>
                    {% endfor %}
                </dl>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>