<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {{ css("assets/css/normalize.css") | raw }}
    {{ css("assets/css/foundation.css") | raw }}
    {{ css("assets/css/style.css") | raw }}
</head>
<body>