<div class="clearfix">
    <ul class="inline-list left">
        <li><a href="{{ base_url }}users">Korisnici</a></li>
        <li><a href="{{ base_url }}logout">Odjava</a></li>
        <li><a href="{{ base_url }}status">Status</a></li>
    </ul>

    <ul class="inline-list right">
        <li>KORISNIK {{ session.user.first_name }} {{ session.user.last_name }}</li>
        <li>[
            {% if session.user.id_user_role == 1 %}
            REGISTRIRANI KORISNIK
            {% elseif session.user.id_user_role == 2 %}
            MODERATOR
            {% elseif session.user.id_user_role == 3 %}
            ADMINISTRATOR
            {% endif %}
            ]</li>
    </ul>
</div>