<ul class="inline-list pagination">
    {% for page in pagination %}
    <li>
        <a href="{{ base ~ page.url}}" class="{{ page.class }}" >
            {{ page.label}}
        </a>
    </li>
    {% endfor %}
</ul>