@media print {

    * {
        color: #000 !important;
        font-size: 12px!important;
    }

    #top-bar{
        display: none;
    }

    .filters{
        display: none;
    }

    #main-content{
        padding: 0!important;
    }

    .hide-for-print{
        display: none!important;
    }

    .show-for-print{
        display: inherit!important;
    }

    .scroll-box{
        height:auto;
        max-height:none;
    }

    .btn{
        display: none!important;
    }

    .scroll-box > ul > li > a{
        padding: 5px!important;
    }

}
