html {
    height: 100%;
}

body {
    text-overflow: ellipsis;
    background: #008CD7;
    font-family: 'Oxygen', sans-serif;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

b {
    font-family: 'Roboto Slab', serif;
}

a {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 3px;
    color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: rgba(0, 0, 0, 0.08);
    text-decoration: none;
}

a:hover {
    color: #FFF;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* CSS GRID */
/* Inspired by https://github.com/ThisIsDallas/Simple-Grid/ */

[class*='column-'] {
    float: left;
    padding-right: 20px;
}

.row {
    width: 100%;
 /*   max-width: 1140px;
    min-width: 755px;*/
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 20px;
}

#external-crud-form .row{
    overflow:inherit;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.center {
    text-align: center;
}

.center > * {
    margin: inherit;
}

/* Clearfix */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-12 {
    width: 100%;
}

.column-11 {
    width: 91.66%
}

.column-10 {
    width: 83.333%;
}

.column-9 {
    width: 75%;
}

.column-8 {
    width: 66.66%;
}

.column-7 {
    width: 58.33%
}

.column-6 {
    width: 50%;
}

.column-5 {
    width: 41.66%;
}

.column-4 {
    width: 33.33%;
}

.column-3 {
    width: 25%;
}

.column-2 {
    width: 16.667%;
}

.column-1 {
    width: 8.33%
}



[class*='column-'] input,
[class*='column-'] select,
[class*='column-'] textarea
{
    width:100%;
}

@media all and (max-width: 767px) {
    .row {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    [class*='column-'] {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.panel {
    background: #CCC;
    border: 1px solid #EEE;
}

ul.no-bullet {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.no-bullet > li {
    margin: 0;
}

ul.inline-list {
    margin: 0;
    list-style: none;
    padding: 0;
}

ul.inline-list > li {
    display: inline-block;
    margin: 5px;
    padding: 0;
}

.scroll-box {
    max-height: 400px;
    overflow: auto;
    color: #333;
    border-radius: 5px;
}

.scroll-box > ul > li {
    padding: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */

}

.scroll-box > ul > li:hover {
    padding: 5px;
    background: #eee; /* Old browsers */

}

.scroll-box > ul > li > a {
    cursor: pointer;
    position: relative;
    color: #333;
    background: none;
    border: none;
    padding: 15px 5px;
    display: block;
}

.scroll-box > ul > li > a.selected {
    color: #000;
    font-weight: bold;
    background: none;
    border: none;
    padding: 15px 5px;
    display: block;
}

.scroll-box > ul > li > a.selected:after {
    position: absolute;
    font-family: FontAwesome;
    top: 0;
    right: 0;
    bottom: 0;
    content: "\f00c";
    color: rgb(18, 151, 18);
    height: 30px;
    margin: auto;
    font-size: 30px;
}

.modal {
    display: none;
}

.modal-wrapper a {
    color: #444;
}

.modal-wrapper {
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding: 40px;
    color: #444;
    background: #FFF;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

body.modal-open .modal {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
}

body.modal-open .modal .modal-content {

}

body > #black-overlay {
    display: none
}

body.modal-open > #black-overlay {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

dl {
    margin: 0;
    padding: 0;
}

dl dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

dl dd {
    margin: 0;
    padding: 0;
}

#top-bar {
    position: fixed;
    top: 0;
    z-index: 90;
    left: 0;
    right: 0;
    padding: 0 0 10px 0;
    background: #FFF;
    color: #444;
}

#menu {
    margin-top: 10px;
}

#menu a {
    color: rgba(42, 55, 78, 1) !important;
}

#top-bar h1 {
    margin: 0;
    text-shadow: none;
}

.loader {
    display: none;
}

body.loading .loader {
    display: inline-block;
}

.input-group label {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.input-group input,
.input-group select,
.input-group textarea {
    font-family: 'Oxygen', sans-serif;
    display: block;
    margin: auto;
    padding: 5px 10px;
}

.input-group {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

button,
input.btn,
a.btn,
.btn {
    width:auto;
    background: #FFF;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    border: 1px solid #DDD;
}

button.primary,
.btn.primary {
    background: #008CD7;
    color: #FFF;
}

button.dark,
.btn.dark {
    background: #444;
    color: #FFF;
}

.red-bg,
.btn.red{
    background: rgb(255, 0, 82);
    color: #FFF;
    border: 1px solid rgb(255, 111, 158);
}

.green-bg,
.btn.green{
    background: green;
    color: #FFF;
    border: 1px solid rgb(0, 194, 0);
}

.expand {
    width: 100%;
}

.message{
    font-size: 16px;
}

.error.message {
    color: rgb(255, 51, 0);
}

.success.message {
    background: rgb(73, 138, 73);
    color: #FFF;
    padding: 10px 10px;
    border-radius: 5px;
}

.inline-list.pagination{
    display: inline-block;
    margin:15px auto;
}

.pagination .current {
    font-weight: bold;
}

.table{
    width:100%;
}

.table td {
    vertical-align: top;
    font-size:16px;
    padding:5px 10px;
    border: 1px solid rgba(255,255,255,0.3);
}

select,
input,
textarea{
    color:#333;
}


h1 a,
h1 a:hover{
    color:inherit;
    background: inherit;
    border:inherit;
}

.table-crud thead{
    background:#444;
}
.table-crud thead th{
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}

#external-crud-form{
    background : #2E3538;
}

a.big-icon{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size:24px;
    font-family: 'Roboto Slab', serif;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    font-weight:bold;
}

.chosen-container{
    color:#333;
}

.chosen-container-single .chosen-single{
    height: 35px;
    padding:4px;
}

label{
    cursor:pointer;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height:20px;
}

#top-bar a{
    color:#000;
}

#top-bar .row{
    padding: 5px 20px;
}

.text-center input{
    text-align: center;
}

.white{
    color: #FFF;
}

.auto{
    width: auto!important;
}

.btn.small{
    font-size:14px;
    padding:3px;
    margin:5px;
}

.thumb{
    width:100px;
}

a.btn{
    color:#333;
}

dl.inline dt,
dl.inline dd{
    float:left;
}

dl.inline dt{
    clear: both;
    margin-right: 10px;
}

.fancybox-opened {
    z-index: 80300!important;
}