<ul class="inline-list">
    <li>
        <a href="{{base_url}}">
            Početna
        </a>
    </li>
    <li>
        <a href="{{base_url}}users">
            Korisnici
        </a>
    </li>
    <li>
        <a href="{{base_url}}stations">
            Policijske postaje
        </a>
    </li>
    <li>
        <a href="{{base_url}}counties">
            Županije
        </a>
    </li>
    <li>
        <a href="{{base_url}}cities">
            Gradovi
        </a>
    </li>
    <li>
        <a href="{{base_url}}violations">
            Prekršaji
        </a>
    </li>
    <li>
        <a href="{{base_url}}violation-categories">
            Kategorije prekršaja
        </a>
    </li>
    <li>
        <a href="{{base_url}}logs">
            Logovi
        </a>
    </li>
</ul>