<ul class="inline-list">
    <li>
        <a href="{{base_url}}">
            Početna
        </a>
    </li>
    <li>
        <a href="{{base_url}}violations">
            Prekršaji
        </a>
    </li>

</ul>