<ul class="inline-list">
    <li>
        <a href="{{base_url}}">
            Početna
        </a>
    </li>
    <li>
        <a href="" data-ajax-modal="true" data-ajax-url="{{base_url}}login">
            Prijava
        </a>
    </li>
    <li>
        <a href="{{base_url}}register" data-ajax-modal="true" data-ajax-url="{{base_url}}register">
            Registracija
        </a>
    </li>
</ul>