{%- spaceless -%}

        <div class="input-group">
{%- if input.label is defined -%}
<label>{{input.label}}
    {%- endif -%}
    <input type="{{ input.type | default('text')}}"
    {%- if input.class is defined -%}
    class="input {{input.class}}"
    {%- endif -%}

    id="{{input.id | default(input.name)}}"

    name="{{input.name}}"

    {%- if input.value is defined -%}
    value="{{input.value}}"
    {%- endif -%}

    {%- if input.id is defined -%}
    id="{{input.id}}"
    {%- endif -%}

    {%- if input.additional is defined %}
    {{input.additional|raw}}
    {% endif -%}
    /></label>

        </div>
{%- endspaceless -%}