<b>Datoteke</b>
<a href="javascript:void(0);" id="file-upload-trigger" data-upload-url="{{base_url}}upload/violationFile"  class="btn dark small"><i class="fa fa-plus-square"></i></a>
<ul id="list-files" class="no-bullet">
    {% for file in files %}
    <li data-file="{{file.filename}}">
        <a target="_blank" href="{{base_url ~ "uploads/" ~ file.filename}}">
            <i class="fa fa-file"></i> {{file.filename}} <i class="fa fa-times"></i>
        </a>
    </li>
    {% endfor %}
</ul>
<br/>
<input style="display:none" name="newFiles" id="new-files" value="">
<input style="display:none" name="deletedFiles" id="deleted-files" value="">