<ul class="inline-list">
    {% for image in images %}
    <li>
        <a class="fancybox" href="{{upload_base ~ image.filename}}" data-fancybox-group="gallery" title="">
            <img class="thumb" src="{{upload_base ~ image.filename}}" alt=""></a>
    </li>
    {% endfor %}
</ul>
