{%- spaceless -%}

        <div class="input-group">
{%- if input.label is defined -%}
<label>{{input.label}}</label>
    {%- endif -%}
    <input type="{{ input.type | default('text')}}"
    {%- if input.class is defined -%}
    class="input {{input.class}}"
    {%- endif -%}

    id="{{input.id | default(input.name)}}"

    name="{{input.name}}"

    {%- if input.label is defined -%}
    placeholder="{{input.label}}"
    {%- endif -%}

    {%- if input.value is defined -%}
    value="{{input.value}}"
    {%- endif -%}

    {%- if input.id is defined -%}
    id="{{input.id}}"
    {%- endif -%}

    {%- if input.pattern is defined -%}
    pattern="{{input.pattern}}"
    {%- endif -%}

    {%- if input.additional is defined %}
    {{input.additional|raw}}
    {% endif -%}

    {%- if input.validationMessage is defined %}
            oninvalid="setCustomValidity('{{ input.validationMessage }}')"
            onchange="try{setCustomValidity('')}catch(e){}"
    {% endif -%}
    />

        </div>
{%- endspaceless -%}