{%- spaceless -%}

        <div class="input-group">
{%- if input.label is defined -%}
<label>{{input.label}}</label>
    {%- endif -%}
    <select
    {% if input.class is defined -%}
    class="input {{input.class}}"
    {%- endif -%}

    id="{{input.id | default(input.name)}}"

    name="{{input.name}}"

    {%- if input.additional is defined %}
    {{input.additional|raw}}
    {% endif -%}
    >
            {% for key, value in input.options %}
            <option value="{{ key }}"
            {%- if input.value == key -%}
            selected
            {%- endif -%}
                    >
            {{ value }}
            </option>
            {% endfor %}

            </select>

        </div>
{%- endspaceless -%}