{% extends "skeleton/base.twig.html" %}
{% set title = 'ePrekršaji' %}


{% block body %}
<div class="row">
    <div class="column-4">
        <h1>Podaci</h1>
        {% include 'skeleton/details.twig.html' with { 'data' : user } %}
    </div>

    <div class="column-4">
        <h1>Prekršaji</h1>

        <div class="scroll-box small-box">
            <ul class="no-bullet">
                {% for k,item in violations.data %}
                <li class="{{item.class}} row text-left">
                    <a class="column-10" data-ajax-modal="true" data-ajax-url="{{violations.base ~ k}}">
                        <dl class="inline clearfix">
                            {% for attr in item %}
                            {% if attr.value != k %}
                                <dt>{{attr.label}}</dt>
                                <dd>{{attr.value}}</dd>
                            {% endif%}
                            {% endfor %}
                        </dl>
                    </a>
                    <a data-ajax-url="{{base_url}}complaint/add/{{k}}" data-ajax-modal="true" class="column-2 btn red" > Žalba <i class="fa fa-arrow-circle-o-right"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="column-4">
        <h1>Statistika Žalbi</h1>

        <div class="scroll-box small-box">
            <ul class="no-bullet">
                {% for k,item in complaints.data %}
                <li class="{{item.class}} row text-left">
                    <a class="column-12" data-ajax-modal="true" data-ajax-url="{{complaints.base ~ k}}">
                        <dl class="inline clearfix">
                            {% for attr in item %}
                            {% if attr.value != k %}
                            <dt>{{attr.label}}</dt>
                            <dd>{{attr.value}}</dd>
                            {% endif%}
                            {% endfor %}
                        </dl>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div id="chart1" style="width: 100%; height: 500px;"></div>

    </div>
</div>

{% endblock %}

{% block footer_scripts %}
{{ parent() }}


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>

    google.load("visualization", "1", {packages: ["corechart"]});

    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            {{ chart | raw}}
    ]);

    var options = {
        title: 'Statistika žalbi',
        pieHole: 0.3,
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart1'));
    chart.draw(data, options);
    }
</script>


{% endblock %}
