<div class="text-center row">

    {% include 'form/form-open.twig.html' with { 'class' : 'ajax-form', 'action' : 'station/add-officers/' ~ police_station.police_station_id, 'method' : 'POST'} %}

    {%- spaceless -%}

    <h1>{{ police_station.name }}</h1>

    <div class="input-group">
        <label>Djelatnici</label>
        <select data-placeholder="Izaberite djelatnike" class="chosen-select" name="stationOfficers[]" multiple>

        {% for key, value in input.options %}
        <option value="{{ key }}" {% if value.selected == "true" %} selected {% endif %} >
        {{ value.label }}
        </option>
        {% endfor %}

        </select>

    </div>
    {%- endspaceless -%}
    <div class="column-12 center">
        <button type="submit" class="btn green"><i class="fa fa-check"></i> Spremi</button>

        <a href="javascript:void(0);" class="external-crud-form-close btn dark">
            <i class="fa fa-times"></i> Zatvori
        </a>

    </div>

    <div>
        <img class="fa-spin loader" src="{{base_url}}assets/img/preloader.png"></h1>
    </div>
    {% include 'form/form-close.twig.html' %}
</div>