{% include "includes/head.twig.html" %}
{% include "includes/menu.twig.html" %}

{% for key, users in user_types %}
{% if key == "activeUsers" %}
<h1>Aktivni korisnici</h1>
{% else %}
<h1>Neaktivni korisnici</h1>
{% endif %}
<table>
    <thead>
    <tr>
        <th>Ime</th>
        <th>Slika</th>
        <th>Prezime</th>
        <th>Email</th>
        <th>Detalji</th>
        <th>Obriši/Aktiviraj</th>
        <th>Promijeni</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users%}
    <tr>
        <td>{{ user.first_name }}</td>
        <td></td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% if user.id_user_role == user_roles.registered and user.OIB == session.user.id_user %}
                <a href="{{ base_url }}user-{{ user.OIB }}">MOJI DETALJI</a>
            {% elseif session.user.id_user_role ==  user_roles.moderator or session.user.id_user_role ==  user_roles.administrator %}
                <a href="{{ base_url }}user-{{ user.OIB }}">DETALJI</a>
            {% endif %}
        </td>
        <td>
            {% if session.user.id_user_role ==  user_roles.administrator %}
            <a href="{{ base_url }}user-{{ user.OIB }}/toggle">
                {% if user.enabled  %}
                    OBRIŠI
                {% else %}
                    AKTIVIRAJ
                {% endif %}
            </a>
            {% endif %}
        </td>
        <td>
            {% if user.id_user_role == user_roles.registered and user.OIB == session.user.id_user %}
            <a href="{{ base_url }}user-{{ user.OIB }}/edit">PROMJENI MOJE PODATKE</a>
            {% elseif session.user.id_user_role ==  user_roles.administrator %}
            <a href="{{ base_url }}user-{{ user.OIB }}/edit">PROMJENI</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}


{% include "includes/foot.twig.html" %}