{% include "includes/head.twig.html" %}
{% include "includes/menu.twig.html" %}

<div class="row">
    <div class="medium-6 small-centered column">
        {{ render_input_errors({"email":"Email", "password":"Password"}) | raw }}

        {{ form_open("","POST", 'onsubmit="return false"') | raw }}
        {{ form_input("email", "Email", "email", user.email, "readonly") | raw}}
        {{ form_input("text" , "Ime", "first_name", user.first_name, "readonly") | raw}}
        {{ form_input("text" , "Prezime", "last_name", user.last_name, "readonly") | raw}}

        <label>Aktivan
        {% if not user.enabled %}
        <input type="checkbox" name="enabled" readonly  onclick="return false">
        {% else %}
            <input type="checkbox" name="enabled" checked  onclick="return false">
        {% endif %}
        </label>

        {{ form_close | raw }}
    </div>
</div>


{% include "includes/foot.twig.html" %}