<div class="text-center row">

    {% if form_action is defined %}
    {% include 'form/form-open.twig.html' with { 'class' : 'ajax-form', 'action' : form_action, 'method' : 'POST'} %}
    {% else %}
    {% include 'form/form-open.twig.html' with { 'class' : 'ajax-form', 'action' : 'violation/edit/' ~ violation_id, 'method' : 'POST'} %}
    {% endif %}

    {% for input in inputs %}
    <div class="column-4 center">

        {% include 'form/form-parser.twig.html' %}

    </div>
    {% endfor %}

    <div class="column-12 center">
        <button type="submit" class="btn green"><i class="fa fa-check"></i> Spremi</button>

        <a href="javascript:void(0);" class="external-crud-form-close btn dark">
            <i class="fa fa-times"></i> Zatvori
        </a>

        <a href="{{ delete_link }}" class="ajax-delete btn red">
            <i class="fa fa-trash-o"></i> Obriši
        </a>

    </div>

    <div>
        <img class="fa-spin loader" src="{{base_url}}assets/img/preloader.png"></h1>
    </div>
    {% include 'form/form-close.twig.html' %}
</div>