{% extends "skeleton/base.twig.html" %}
{% set title = 'ePrekršaji' %}


{% block body %}
<div class="row">

    <div class="column-4">
        <h1>Žalbe</h1>

        <div class="hide-for-print scroll-box small-box">
            <ul class="no-bullet">
                {% for k,item in complaints.data %}
                <li class="{{item.class}} row text-left">
                    <a class="column-8" data-ajax-modal="true" data-ajax-url="{{complaints.base ~ k}}">
                        <dl class="inline clearfix">
                            {% for attr in item %}
                            <dt>{{attr.label}}</dt>
                            <dd>{{attr.value}}</dd>
                            {% endfor %}
                        </dl>
                    </a>

                    <a data-ajax-url="{{base_url}}complaint/accept/{{k}}" data-ajax-modal="true"
                       class="column-2 btn green">
                        Prihvati <i class="fa fa-check"></i></a>
                    <a data-ajax-url="{{base_url}}complaint/reject/{{k}}" data-ajax-modal="true"
                       class="column-2 btn red">
                        Odbij <i class="fa fa-check"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="column-4">
        <h1>Statistika žalbi</h1>

        <h2>Prema županijama</h2>
        <a href="#" onclick="window.print()"><i class="fa fa-print"></i> Ispis</a>
        <a href="{{base_url}}countyStatsPDF" target="_blank"><i class="fa fa-file-pdf-o"></i> PDF</a>
        <div class="hide-for-print scroll-box small-box">
            <ul class="no-bullet">
                <li class="row text-left">
                    <a class="column-6">
                        <b>Županija</b>
                    </a>
                    <a class="column-6">
                        <b>Broj žalbi</b>
                    </a>
                </li>
                {% for item in complaintsByCounty.data %}
                <li class="row text-left">
                    <a class="column-6">
                        {{item.name}}
                    </a>
                    <a class="column-6">
                        {{item.count}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br/>
        <div id="chart1" style="width: 100%; height: 500px;"></div>


        <h2>Prema korisnicima</h2>

        <div class=" hide-for-print  scroll-box small-box">
            <ul class="no-bullet">
                <li class="row text-left">
                    <a class="column-6">
                        <b>Korisnik</b>
                    </a>
                    <a class="column-6">
                        <b>Broj žalbi</b>
                    </a>
                </li>
                {% for item in complaintsByUser.data %}
                <li class="row text-left">
                    <a class="column-6">
                        {{item.name}}
                    </a>
                    <a class="column-6">
                        {{item.count}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>


    </div>

    <div class="column-4">
        <h1>Statistika prekršaja</h1>

        <h2>Prema županijama</h2>
        <a href="#" onclick="window.print()"><i class="fa fa-print"></i> Ispis</a>
        <a href="{{base_url}}countyStatsPDF" target="_blank"><i class="fa fa-file-pdf-o"></i> PDF</a>
        <div class="hide-for-print scroll-box small-box">
            <ul class="no-bullet">
                <li class="row text-left">
                    <a class="column-6">
                        <b>Županija</b>
                    </a>
                    <a class="column-6">
                        <b>Broj prekršaja</b>
                    </a>
                </li>
                {% for item in violationsByCounty.data %}
                <li class="row text-left">
                    <a class="column-6">
                        {{item.name}}
                    </a>
                    <a class="column-6">
                        {{item.count}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <br/>
        <div id="chart2" style="width: 100%; height: 500px;"></div>

        <h2>Prema korisnicima</h2>

        <div class="hide-for-print scroll-box small-box">
            <ul class="no-bullet">
                <li class="row text-left">
                    <a class="column-6">
                        <b>Korisnik</b>
                    </a>
                    <a class="column-6">
                        <b>Broj prekršaja</b>
                    </a>
                </li>
                {% for item in violationsByUser.data %}
                <li class="row text-left">
                    <a class="column-6">
                        {{item.name}}
                    </a>
                    <a class="column-6">
                        {{item.count}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{{ parent() }}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>

    google.load("visualization", "1", {packages: ["corechart"]});

    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            {{complaintsByCountyJson | raw}}
        ]);

        var options = {
            title: 'Žalbe po županijama',
            pieHole: 0.3,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart1'));
        chart.draw(data, options);

        var data = google.visualization.arrayToDataTable([
            {{violationsByCountyJson | raw}}
        ]);

        var options = {
            title: 'Prekršaji po županijama',
            pieHole: 0.3,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart2'));
        chart.draw(data, options);
    }
</script>

{% endblock %}
